body{
    color: #444444;
    font-size: 12px; 
    font-family:'Open Sans', Arial, Arimo, Helvetica, sans-serif;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-text-size-adjust: 100%;
}